<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Bonos Productos</title>
</head>

<body>
    
    <%-include('tools/navigation') %>
    <div class="container p-4">
        <div class="card">
            <div class="car-header bg-primary text-white">
                <h1>Bienvenido  al gestor de Bonos</h1>                
            </div>
            <div class="card card-body">
                <p>En la parte superio derecha encontrara 
                    las opciones para navegar
                </p>
            </div>
        </div>
    </div>

</body>

</html>