<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('tools/header') %>
    <title>Bonos Productos</title>
</head>

<body>
    
    <%-include('tools/navigation') %>
    <div class="container p-4">
        <div class="card">
            <div class="car-header bg-primary text-white">
                <h1>Bienvenido  al gestor de Bonos</h1>                
            </div>
            <div class="card card-body">
                <p>En la parte superio derecha encontrara 
                    las opciones para navegar
                </p>
            </div>
        </div>
    </div>

</body>

</html>